@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

/* start global */
body {
  /* i think we can also add dir attribute to html tag with value rtl */
  font-family: "Cairo", sans-serif;
  direction: rtl;
  text-align: right;
  height: 3000px;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 10px;
  height: 37px;
  width: 37px;
  display: inline-block;
} */

.icon_container {
  background-color: rgba(43, 41, 41, 0.5);
  height: 40px;
  width: 40px;
  line-height: 50px;
}
.title_text {
  width: fit-content;
}
.title_text span {
  width: 100% !important;
}
/* end global */

/* ======================================================================== */

/* start top header */
.top_header {
  font-size: 0.7rem;
}
/* end top header */

/* start navbar */
.navbar li .nav-link,
.dropdown-menu a {
  color: #000 !important;
  font-weight: 700;
}
.dropdown {
  transition: 0.5s ease-in-out;
  overflow: visible;
}
.dropdown:hover {
  overflow: visible;
}
.dropdown-menu {
  transition: all 0.5s ease-in-out;
  transform-origin: bottom;
  top: 110px;
  right: -4px;
  line-height: 1.9rem;
  display: block;
  transform: scale(0);
}
.dropdown:hover .dropdown-menu {
  top: 90px;
  right: -4px;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid transparent;
}

.navbar-brand {
  margin-top: 0;
  padding-top: 0;
}

.dropdown .dropdown-item {
  border-bottom: 2px solid transparent;
}
.nav-item:hover,
.dropdown .dropdown-item:hover {
  background: rgb(248, 246, 246);
  border-bottom: 2px solid orange;
}
.active-link {
  background: rgb(248, 246, 246);
  border-bottom: 2px solid orange;
  color: orange;
}
.nav-item a.nav-link {
  transition: all 0.3s;
}
.nav-item:hover a.nav-link {
  color: orange !important;
}

/* dropdown */
.dropdown-toggle::after {
  display: none !important;
}
/* end dropdown */

/* carousel styles */
.carousel-caption {
  left: 200px;
  bottom: 110px;
  color: #000;
  font-size: 2rem;
  transition: all 0.3s;
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 1s;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.carousel-caption h5 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}
.carousel .btn {
  border: 1px solid #111;
  color: #111 !important;
}
@keyframes fade {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* project styles */
.titel-border {
  height: 3px;
  margin-top: 6px;
}

/* end project styles */

/* news style */
.news .btn:hover {
  background-color: orange !important;
  color: #000;
}
/* news style */

/* how we style */

.howwe {
  background: url(../images/project_images/who-we-are-bg.jpg);
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.play-btn {
  display: flex;
  height: 100px;
  width: 100px;
  background: rgba(241, 245, 11, 0.842);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.play-icon {
  margin-left: 10px;
}
.play-btn:hover {
  background: rgba(241, 245, 11, 0.377);
  cursor: pointer;
}

.video_how_we {
  height: 500px;
}

.close_modal {
  top: -23px;
  right: 10px;
}

/* submit section */

.submit {
  background: url(../images/project_images/subscribe-our-newsletter-bg.jpg);
  background-size: cover;
  background-position: left;
  height: 75vh;
}
.submit_btn {
  height: 50px;
  border-radius: 20px;
  padding: 10px;
}

.icon_btn {
  border-radius: 30px;
  padding: 10px 30px;
}

/* footer section */

footer {
  background-color: #071c33;
  font-size: 14px;
}

footer li a {
  color: orange;
}
footer li i {
  color: orange;
}

.box {
  border-bottom: 1px solid gray;
}

.input_contant span {
  position: relative;
  left: 30px;
  background-color: orange;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  width: 90px;
  cursor: pointer;
  z-index: 999 !important;
  text-align: center !important;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .input_contant span {
    width: 30px;
    text-align: center !important;
  }
}

.footer_bottom {
  background-color: #03080e;
}
.footer_bottom p {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .footer_bottom {
    flex-direction: column !important;
  }
  .footer_bottom p {
    margin: 10px 0;
  }
}
